---
import SliderHiking from "../../components/SliderHiking.astro";
import SliderFullDays from "../../components/SliderFullDays.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getInfoPageHome, getTourInfo } from "../../libs/wp";
import SliderMachuPicchu from "../../components/SliderMachuPicchu.astro";
import SliderBlogs from "../../components/SliderBlogs.astro";
import SliderReviews from "../../components/SliderReviews.astro";
import HeroPortada from "../../components/HeroPortada.astro";


interface Props {
  seo: any;
}


const dataHome = await getInfoPageHome("en");

const heroInfo = dataHome?.featured_img;

const category = await getTourInfo("en");

const categoryFullday = category.filter((category: any) => category.peru == 21);

const categoryMachupicchu = category.filter((category: any) => category.peru == 22);

const categoryTreks = category.filter((category: any) => category.peru == 20);
---

<MainLayout seo={dataHome?.yoast_head_json}>
  <main>
    <HeroPortada data={heroInfo} />
    <section>
      <div class="container py-20">
        <div class="wrapper-home-page">
          <div set:html={dataHome.content.rendered} />
        </div>
      </div>
    </section>
    <SliderFullDays data={categoryFullday} />
    <SliderMachuPicchu data={categoryMachupicchu} />
    <SliderHiking data={categoryTreks} />
    <section>
      <div class="w-full bg-white py-10 my-20">
        <div class="container">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 lg:gap-0">
            <div>
              <span class="block text-center font-bold text-4xl">5</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Años de experiencia</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">30</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Localboradores Locales</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">6,00 +</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Aventuras Planeadas</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">70, 000 +</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Clientes satisfechos</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <SliderBlogs />
    <SliderReviews />
  </main>
</MainLayout>
