---
import SliderHiking from "../../components/SliderHiking.astro";
import SliderFullDays from "../../components/SliderFullDays.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getInfoPageHome, getTourInfo } from "../../libs/wp";
import SliderMachuPicchu from "../../components/SliderMachuPicchu.astro";
import SliderBlogs from "../../components/SliderBlogs.astro";
import SliderReviews from "../../components/SliderReviews.astro";
import HeroPortada from "../../components/HeroPortada.astro";
import Contents from "../../components/Contents.astro";
import ContentWP from "../../components/contentWP.astro";

interface Props {
  seo: any;
}

const dataHome = await getInfoPageHome("en");

const infoHome = dataHome.content.rendered;

const heroInfo = dataHome?.featured_img;

const category = await getTourInfo("en");

const categoryFullday = category.filter((category: any) => category.peru == 21);

const categoryMachupicchu = category.filter((category: any) => category.peru == 22);

const categoryTreks = category.filter((category: any) => category.peru == 20);
---

<MainLayout seo={dataHome?.yoast_head_json} altLangUrl="/">
  <main>
    <HeroPortada data={heroInfo} />
    <ContentWP data={infoHome} />
    <SliderFullDays data={categoryFullday} />
    <SliderMachuPicchu data={categoryMachupicchu} />
    <SliderHiking data={categoryTreks} />
    <Contents />
    <SliderBlogs />
    <SliderReviews />
  </main>
</MainLayout>
