---
import SliderHiking from "../components/SliderHiking.astro";
import SliderFullDays from "../components/SliderFullDays.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getInfoPageHome, getImages, getTourInfo } from "../libs/wp";
import SliderMachuPicchu from "../components/SliderMachuPicchu.astro";
import SliderBlogs from "../components/SliderBlogs.astro";
import SliderReviews from "../components/SliderReviews.astro";
import Image from "astro/components/Image.astro";
import HeroPortada from "../components/HeroPortada.astro";
import Contents from "../components/Contents.astro";

interface Props {
  seo: any;
}

const dataHome = await getInfoPageHome();

const getInfoPortada = dataHome?.featured_img;

const category = await getTourInfo();

const categoryFullday = category.filter((category: any) => category.peru == 13);

const categoryMachupicchu = category.filter((category: any) => category.peru == 14);

const categoryTreks = category.filter((category: any) => category.peru == 19);
---

<MainLayout seo={dataHome?.yoast_head_json} altLangUrl="/en/">

  <Fragment slot="head">
    <link rel="preload" as="image/webp" href={getInfoPortada} fetchpriority="high" />
  </Fragment>

  <main>
    <HeroPortada data={getInfoPortada} />
    <section>
      <div class="container py-20">
        <div class="wrapper-home-page">
          <div set:html={dataHome.content.rendered} />
        </div>
      </div>
    </section>
    <SliderFullDays data={categoryFullday} />
    <SliderMachuPicchu data={categoryMachupicchu} />
    <SliderHiking data={categoryTreks} />
    <Contents/>
    <SliderBlogs />
    <SliderReviews />
  </main>
</MainLayout>
