---
import SliderHiking from "../components/SliderHiking.astro";
import SliderFullDays from "../components/SliderFullDays.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getInfoPageHome, getImages, getTourInfo } from "../libs/wp";
import SliderMachuPicchu from "../components/SliderMachuPicchu.astro";
import SliderBlogs from "../components/SliderBlogs.astro";
import SliderReviews from "../components/SliderReviews.astro";

const dataHome = await getInfoPageHome();

const category = await getTourInfo();

const categoryFullday = category.filter((category: any) => category.peru == 13);

const categoryMachupicchu = category.filter((category: any) => category.peru == 14);

const categoryTreks = category.filter((category: any) => category.peru == 19);

const acfs = dataHome?.acf.seccion_detalles ?? [];
const getImgDetail = acfs.detalles_empresa;

const data = getImgDetail?.map((url: any) => getImages(url.icon));

const getUrls = await Promise.all(data || []);
---

<MainLayout seo={dataHome?.yoast_head_json}>
  <main>
    <section>
      <div class="w-full relative">
        <img decoding="async" fetchpriority="high" src={dataHome?.featured_img} class="w-full h-[90vh] object-cover object-center" alt="" />
        <div class="bg-black/50 absolute inset-0 w-full h-full z-10"></div>
        <div class="w-full lg:w-248.75 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 z-20 px-5 md:px-0">
          <h1 class="text-4xl text-balance text-white font-bold tracking-widest text-center uppercase">
            DISCOVERY ANDES AND <span class="text-yellow">INCA TRAIL</span> TO <span class="text-yellow">MACHU PICCHU</span>
          </h1>
          <p class="!text-white text-center inline-block my-5 text-lg">
            At Andean Foot Prints, we specialize in crafting unforgettable travel experiences throughout Peru. Our expert team is dedicated to providing personalized itineraries that showcase the breathtaking beauty and rich culture of this incredible country.
          </p>
          <div class="flex flex-col md:flex-row items-center justify-center gap-5">
            <a href="http://localhost:4321/tours/camino-inca-machu-picchu" class="w-full md:w-80 text-center bg-yellow capitalize py-3 inline-block text-black font-medium border-2 border-yellow hover:bg-transparent hover:text-white transition-all">Book Now Inca Trail 2026</a>
            <a href="#" class="w-full md:w-80 text-center bg-transparend border-2 border-yellow capitalize py-3 inline-block font-medium text-white hover:bg-yellow hover:text-black transition-all">Explora Our Tours</a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container py-16">
        <div class="wrapper-home-page">
          <div set:html={dataHome.content.rendered} />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 my-16">
          {
            acfs.detalles_empresa.map((acf: any, index: number) => (
              <div class="group border border-neutral-300 p-5 rounded-lg">
                <div class="flex gap-5 items-start mb-3">
                  <div class="w-[60px] bg-green group-hover:bg-yellow transition-colors p-3 rounded-lg">
                    <img decoding="async" loading="lazy" class="w-full h-full object-cover object-cover" src={getUrls[index].url} alt={getUrls[index].title} />
                  </div>
                  <div>
                    <h3 class="text-2xl font-semibold">{acf.titulo}</h3>
                  </div>
                </div>
                <p>{acf.descripcion}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section>
      <SliderFullDays data={categoryFullday} />
    </section>
    <section>
      <SliderMachuPicchu data={categoryMachupicchu} />
    </section>
    <section>
      <SliderHiking data={categoryTreks} />
    </section>
    <section>
      <div class="w-full bg-white py-10 my-20">
        <div class="container">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 lg:gap-0">
            <div>
              <span class="block text-center font-bold text-4xl">5</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Años de experiencia</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">30</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Localboradores Locales</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">6,00 +</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Aventuras Planeadas</p>
            </div>
            <div>
              <span class="block text-center font-bold text-4xl">70, 000 +</span>
              <p class="text-center font-semibold text-xl mb-0! capitalize mt-2">Clientes satisfechos</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <SliderBlogs/>
    </section>
    <section>
      <SliderReviews/>
    </section>
  </main>
</MainLayout>
