---
import { getImagesBatch } from "../../libs/wp";

const { img } = Astro.props;

const lang = Astro.url.pathname.startsWith("/en") ? "en" : "es";

const fallback =
  "https://cms.exploratoursperu.com/wp-content/uploads/img-placeholder.png";

let images: string[] = [];
let titles: string[] = [];

const getImgs = img?.seccion_galleria?.galleria;

if (getImgs.length) {
  try {
    const data = await getImagesBatch(getImgs, lang);
    const valid = data.filter((i:any) => i && i.url);

    images = valid.map((i:any) => i.url);
    titles = valid.map((i:any) => i.title ?? "Gallery image");

  } catch (e) {
    console.error("Gallery fetch error:", e);
  }
}

/* asegurar mínimo 3 imágenes */
while (images.length < 3) {
  images.push(fallback);
  titles.push("Gallery image");
}

const visible = images.slice(0, 3);
const hidden = images.slice(3);

const visibleTitle = titles.slice(0, 3);
const hiddenTitle = titles.slice(3);
---

<div class="container mt-3">
  <div class="flex flex-col md:flex-row w-full h-[500px] md:h-[625px] gap-3 overflow-hidden">

    <div class="w-full h-full group/col1 relative overflow-hidden rounded-radio">
      <a href={visible[0]} data-fancybox="gallery" data-caption={visibleTitle[0]}>
        <img
          src={visible[0]}
          alt={visibleTitle[0]}
          width="1200"
          height="800"
          fetchpriority="high"
          loading="eager"
          decoding="sync"
          draggable="false"
          class="shadow-md w-full h-full object-cover object-center group-hover/col1:scale-105 transition-transform duration-300"
        />
      </a>

      <div class="absolute bottom-5 right-5 bg-white/90 hover:bg-white backdrop-blur-sm rounded-lg px-4 py-2 text-sm font-medium flex items-center gap-2 pointer-events-none">
        <i class="fa-solid fa-images"></i> {images.length} Fotos
      </div>
    </div>

    <div class="hidden md:flex w-full lg:min-w-[511px] lg:w-[511px] h-full flex-col gap-3">

      <div class="grow w-full h-[300px] group/col2 overflow-hidden rounded-radio">
        <a href={visible[1]} data-fancybox="gallery" data-caption={visibleTitle[1]}>
          <img
            src={visible[1]}
            alt={visibleTitle[1]}
            width="800"
            height="600"
            loading="eager"
            decoding="async"
            class="shadow-md w-full h-full object-cover object-center rounded-radio group-hover/col2:scale-105 transition-transform duration-300"
          />
        </a>
      </div>

      <div class="grow w-full h-[300px] group/col3 overflow-hidden rounded-radio">
        <a href={visible[2]} data-fancybox="gallery" data-caption={visibleTitle[2]}>
          <img
            src={visible[2]}
            alt={visibleTitle[2]}
            width="800"
            height="600"
            loading="eager"
            decoding="async"
            draggable="false"
            class="shadow-md w-full h-full object-cover object-center rounded-radio group-hover/col3:scale-105 transition-transform duration-300"
          />
        </a>
      </div>

      <div class="hidden">
        {
          hidden.map((url, i) => (
            <a href={url} data-fancybox="gallery" data-caption={hiddenTitle[i]}>
              <img
                src={url}
                alt={hiddenTitle[i]}
                width="800"
                height="600"
                loading="lazy"
                fetchpriority="low"
                draggable="false"
                decoding="async"
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script>
  import { Fancybox } from "@fancyapps/ui/dist/fancybox/";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]", {
    Hash: false,
    // animaciones
    transitions: {
      slide: {
        from: { opacity: 0, transform: "translate3d(100%,0,0)" },
        to: { opacity: 1, transform: "translate3d(0,0,0)" },
      },
      fade: {
        from: { opacity: 0 },
        to: { opacity: 1 },
      },
    },
  });
</script>