---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

const { data } = Astro.props;
const pathname = Astro.url.pathname;
const dondition = pathname === "/en/" || pathname === "/en";
---

<section>
  <div class="w-full bg-gray-50 relative">
    <div class="absolute top-0 left-0 w-full z-30">
      <svg width="100%" height="50px" class="-scale-y-100" fill="#f9fafb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
        <path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
        <path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
      </svg>
    </div>
  <div class="container py-20">
    <div class="w-full text-center">
      {
        dondition
        ? <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-person-hiking"></i> Cusco Tours</h3>
          <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">City Tours</h2>
          <p class="text-center mb-0! text-pretty">This section showcases the best full-day tours available.</p>
        : <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-person-hiking"></i> Cusco Tours</h3>
          <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">Recorridos por la ciudad de Cusco</h2>
          <p class="text-center mb-0! text-pretty">En esta sección se muestran los mejores tours de día completo disponibles.</p>
      }
    </div>
    <div class="swiper mySwiperFulldays">
      <div class="swiper-wrapper py-1 my-5">
        {
          data.map((c: any) => (
            <div class="swiper-slide">
              <div class="w-full h-full p-5 rounded-radio bg-white group shadow hover:shadow-xl transition-all duration-300 hover:translate-y-[-10px]">
                <div class="flex flex-col gap-0">
                  <div>
                    <a href={"/tour/" + c.slug} title={dondition ? "View Tour" : "Ver Tour"} class="inline-block overflow-hidden rounded-radio relative">
                      <img decoding="async" loading="lazy" class="w-full h-[350px] object-cover object-center rounded-[20px]" src={c.featured_img} alt={c.title.rendered} title={c.title.rendered} />
                    </a>
                  </div>
                  <div class="w-full">
                    <div class="pt-5">
                      {/* rayita debajo del titulo */}
                      <h3 class="line-clamp-1 font-medium text-2xl mb-0!" set:html={c.title.rendered} />
                      <span class="w-20 rounded-full h-1 bg-yellow mt-1 mb-3 block"></span>
                      <div class="line-clamp-2 text-start text-pretty text-sm mb-3" set:html={c.excerpt.rendered} />
                      <div class="flex items-center gap-5 mb-3">
                      <div class="flex flex-col items-start gap-2">
                          <p class="capitalize mb-0! text-sm">
                            <i class="fa-solid text-parragraph fa-clock" /> {c.acf.detalles_tour.detalles[0].descripcion}
                          </p>
                          <p class="capitalize mb-0! text-sm">
                            <i class="fa-solid text-parragraph fa-chart-line" /> {c.acf.detalles_tour.detalles[1].descripcion}
                          </p>
                        </div>
                      <div class="w-px h-15 bg-gray-300" />
                      <div>
                        {
                          dondition
                          ?<span class="text-sm"> From</span>
                        <p class="font-medium text-gray mb-0! block">
                           <span class="font-bold text-3xl text-black mb-1">$ {c.acf.precio}</span> <span class="text-sm text-black!">per person</span>
                        </p>
                        :
                        <span class="text-sm"> Desde</span>
                        <p class="font-medium text-gray mb-0! block">
                           <span class="font-bold text-3xl text-black mb-1">$ {c.acf.precio}</span> <span class="text-sm text-black!">por persona</span>
                        </p>
                        }
                      </div>
                    </div>
                    </div>
                    <hr class="my-5!" />
                    <div class="w-full">
                      <a href={"/tour/" + c.slug} title={dondition ? "View Tour" : "Ver Tour"} 
                      class="w-full uppercase inline-block text-center text-nowrap py-3 px-7 border-2 border-green bg-green text-white hover:bg-transparent hover:text-black rounded-full transition-colors text-base">
                        {dondition ? "View Tour" : "Ver Tour" }  &nbsp; <i class="fa-solid fa-arrow-right-long" />
                      </a>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-button-prev transition-colors rounded-full bg-white text-black! p-3 shadow-lg"></div>
      <div class="swiper-button-next transition-colors rounded-full bg-white text-black! p-3 shadow-lg"></div>
    </div>
  </div>
</div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  new Swiper(".mySwiperFulldays", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 4,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 4,
      },
    },
  });
</script>
