---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import { getInfoCategory, getTourInfo } from "../libs/wp";

const { slug } = Astro.params;

const lang = Astro.url.pathname.startsWith('/en') ? 'en' : 'es';

const getTours = await getTourInfo(lang);

const getCategory = getTours.find((c:any) => c.slug === slug);

const idCategory = getCategory?.peru?.[0];

const category = idCategory ? await getInfoCategory(idCategory) : null;

const getInfoCategories = idCategory
? getTours.filter((cat:any) => cat.peru?.includes(idCategory))
: [];

const getAllInfoCategories = getInfoCategories
? getInfoCategories.filter((cat:any) => slug != cat.slug)
: [];
---

<div class="w-full bg-white">
  <div class="container py-20 text-center">
    <h2 class="text-3xl font-semibold text-center capitalize mb-5 inline-block">Tours Relacionados</h2>
    <div class="swiper mySwiperRelated my-5">
      <div class="swiper-wrapper">
      {
        getAllInfoCategories.map((c: any) => (
          <div class="swiper-slide py-1">
            <div class="overflow-hidden rounded-radio group hover:translate-y-[-10px] shadow hover:shadow-xl duration-300">
              <div class="w-full h-full flex items-center flex-col">
                <div class="w-full h-96 relative">
                  <a href={`${lang === "en" ? `/en/tour/${c.slug}` : `/tour/${c.slug}` } `} class="inline-block w-full h-full">
                    <img decoding="async" loading="lazy" src={c.featured_img} alt={c.title.rendered} class="w-full h-full object-cover select-none" />
                    <div class="absolute inset-0 bg-linear-to-t from-black/50 to-transparent" />
                  </a>
                </div>
                <div class="w-full px-5 py-7 select-none z-20 bg-white  transition-shadow border border-neutral-200">
                  <h2 class="text-2xl text-start font-semibold tracking-wide mb-0! capitalize line-clamp-1" set:html={c.title.rendered} />
                  <span class="w-20 rounded-full h-1 bg-yellow mt-1 mb-3 block"></span>
                  <div class="line-clamp-2 text-start text-pretty text-sm mb-3" set:html={c.excerpt.rendered} />
                  <div class="flex items-center gap-5 mb-3">
                    <div class="flex flex-col justify-start items-start gap-2">
                      <div class="text-sm">
                        <i class="fa-solid w-6.25! fa-clock text-parragraph" />
                        <span class="text-parragraph capitalize">
                          <span class="text-parragraph" /> {c.acf.detalles_tour.detalles[0].descripcion}
                        </span>
                      </div>
                      <div class="text-sm">
                        <i class="fa-solid w-6.25! fa-users text-parragraph" />
                        <span class="text-gray-bold">Hasta {c.acf.detalles_tour.detalles[2].descripcion}</span>
                      </div>
                      <div class="text-sm">
                        <i class="fa-solid w-6.25! fa-location-dot text-parragraph" />
                        <span class="text-gray-bold">{category.name}</span>
                      </div>
                    </div>
                    <div class="w-px h-15 bg-gray-300" />
                    <div>
                      <p class="font-medium text-gray mb-0!">
                        <span class="font-bold text-3xl text-black mb-1">$ 549</span> <span class="text-sm">/ person</span>
                      </p>
                      <div class="flex text-yellow">★★★★★</div>
                    </div>
                  </div>
                  <hr class="my-5" />
                  <div class="w-full text-center">
                    <a href={`${lang === "en" ? `/en/tour/${c.slug}` : `/tour/${c.slug}` } `} 
                    class="inline-block w-full border-2 border-green text-nowrap py-4 rounded-full font-medium bg-green text-white hover:bg-transparent hover:text-black transition-colors duration-300 text-base">
                        Ver Tour <i class="fa-solid fa-arrow-right-long" />
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
      <div class="swiper-button-prev transition-colors rounded-full bg-white text-black! p-3 shadow-lg"></div>
      <div class="swiper-button-next transition-colors rounded-full bg-white text-black! p-3 shadow-lg"></div>
      <div class="swiper-pagination mt-5 relative!" />
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".mySwiperRelated", {
    modules: [Navigation, Pagination],
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    slidesPerView: 3,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 3,
      },
    },
  });
</script>
