---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import { getInfoCategory } from "../libs/wp";

const { data } = Astro.props;

const idCategoryMapi = 19;

const category = await getInfoCategory(idCategoryMapi);

const pathname = Astro.url.pathname;

const dondition = pathname === "/en/" || pathname === "/en";
---

<section>
  <div class="w-full bg-gray-50">
  <div class="container py-20">
    <div class="w-full text-center">
      {
        dondition
        ? <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-person-hiking"></i> The best hikes and excursions to Machu Picchu</h3>
        <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">Best tours and hikes to Machu Picchu</h2>
        <p class="text-center mb-0! text-pretty">Take advantage of the best excursions and hiking adventures to Machu Picchu, the lost Inca city.</p>

        : <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-person-hiking"></i> Las mejores caminatas y excursiones a Machu Picchu</h3>
        <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">Tour y caminatas mejores hacia machu picchu</h2>
        <p class="text-center mb-0! text-pretty">Aprovecha las mejores excursiones y aventuras de senderismo hacia Machu Picchu, la ciudad inca perdida.</p>
      }
      
    </div>
    <div class="swiper mySwiperTreks my-5">
      <div class="swiper-wrapper">
        {
          data.map((c: any) => (
            <div class="swiper-slide py-1">
              <div class="overflow-hidden rounded-radio group hover:translate-y-[-10px] shadow hover:shadow-xl duration-300">
                <div class="w-full h-full flex items-center flex-col">
                  <div class="w-full h-96 relative">
                    <a href={`/tour/${c.slug}`} title={dondition ? "View Tour" : "Ver Tour"} class="inline-block w-full h-full">
                      <img decoding="async" loading="lazy" src={c.featured_img} alt={c.title.rendered} title={c.title.rendered} class="w-full h-full object-cover select-none" />
                      <div class="absolute inset-0 bg-linear-to-t from-black/50 to-transparent" />
                    </a>
                  </div>
                  <div class="w-full px-5 py-7 select-none z-20 bg-white  transition-shadow border border-neutral-200">
                    <h3 class="line-clamp-1 font-medium text-2xl" set:html={c.title.rendered} />
                    <div class="line-clamp-2 text-start text-pretty text-sm mb-3" set:html={c.excerpt.rendered} />
                    <div class="flex items-center gap-5 mb-3">
                      <div class="flex flex-col justify-start items-start gap-2">
                        <div class="text-sm">
                          <i class="fa-solid w-6.25! fa-clock text-parragraph" />
                          <span class="text-parragraph capitalize">
                            <span class="text-parragraph" /> {c.acf.detalles_tour.detalles[0].descripcion}
                          </span>
                        </div>
                        <div class="text-sm">
                          <i class="fa-solid w-6.25! fa-users text-parragraph" />
                          <span class="text-gray-bold">Hasta {c.acf.detalles_tour.detalles[2].descripcion}</span>
                        </div>
                        <div class="text-sm">
                          <i class="fa-solid w-6.25! fa-location-dot text-parragraph" />
                          <span class="text-gray-bold">{category.name}</span>
                        </div>
                      </div>
                      <div class="w-px h-15 bg-gray-300" />
                      <div>
                        <p class="font-medium text-gray mb-0!">
                          <span class="font-bold text-3xl text-black mb-1">$ 549</span> <span class="text-sm">/ person</span>
                        </p>
                        <div class="flex text-yellow">★★★★★</div>
                      </div>
                    </div>
                    <hr class="my-5" />
                    <div class="w-full text-center">
                      <a href={`/tour/${c.slug}`} title={dondition ? "View Tour" : "Ver Tour"} class="inline-block w-full uppercase border-2 border-green text-black text-nowrap py-4 rounded-full font-medium group-hover:bg-green group-hover:text-white transition-colors duration-300 text-base">
                        {dondition ? "View Tour" : "Ver Tour" } <i class="fa-solid fa-arrow-right-long" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-button-prev bg-green/50 transition-colors rounded-full hover:bg-green text-white! p-3 shadow-lg"></div>
      <div class="swiper-button-next bg-green/50 transition-colors rounded-full hover:bg-green text-white! p-3 shadow-lg"></div>
    </div>
  </div>
</div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".mySwiperTreks", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 3,
      },
    },
  });
</script>
