---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import { getInfoCategory } from "../libs/wp";
const { data } = Astro.props;
// console.log(data);

const idCategory = 13;

const getInfoCategories = await getInfoCategory(idCategory);

function quitarHTML(str: any) {
  return str.replace(/<[^>]*>?/gm, "");
}
---

<div class="w-full bg-gray-50">
  <div class="container py-20">
    <div class="flex items-center flex-col justify-center lg:flex-row lg:justify-between gap-5 lg:gap-5 mb-5 lg:mb-0">
      <div class="grow w-full lg:w-125">
        <h3 class="text-center lg:text-start text-red text-lg normal-case"><i class="fa-solid fa-person-hiking"></i> Cusco Tours</h3>
        <h2 class="text-3xl text-center lg:text-start font-semibold tracking-wide mb-3">City Tours</h2>
        <p class="text-center lg:text-start mb-0! text-pretty">En esta sección se muestran los mejores tours de día completo disponibles.</p>
      </div>
      <div class="grow w-full lg:w-125 text-center lg:text-end">
        <a href="#" class="inline-block bg-yellow text-nowrap py-3 px-7 rounded-lg hover:text-white font-medium hover: hover:bg-green text-black transition-colors text-base">
          Ver más <i class="fa-solid fa-arrow-right-long"></i>
        </a>
        <!-- <a href="#" class="inline-block text-blue font-medium">Ver más <i class="fa-solid fa-arrow-right-long"></i></a> -->
      </div>
    </div>
    <div class="swiper mySwiperFulldays">
      <div class="swiper-wrapper py-1">
        {
          data.map((c: any) => (
            <div class="swiper-slide">
              <div class="w-full h-full p-5 rounded-[20px] bg-white group shadow hover:shadow-xl transition-all duration-300 hover:translate-y-[-10px]">
                <div class="flex flex-col gap-0">
                  <div>
                    <a href={"/tour/" + c.slug} class="inline-block overflow-hidden rounded-radio relative">
                      <img decoding="async" loading="lazy" class="w-full h-[350px] object-cover object-center rounded-[20px]" src={c.featured_img} alt="" />
                      {/* <div class="absolute top-2 left-2">
                        <span class="inline-block py-2 px-5 text-white bg-blue/30 group-hover:bg-blue transition-colors rounded-full text-sm">{getInfoCategories.name}</span>
                      </div> */}
                    </a>
                  </div>
                  <div class="w-full">
                    <div class="pt-5">
                      <h3 class="line-clamp-1" set:html={c.title.rendered} />

                      <div class="flex items-center justify-between">
                        <div class="flex items-center gap-5 mb-3">
                          <p class="capitalize mb-0! text-sm">
                            <i class="fa-solid text-parragraph fa-clock" /> {c.acf.detalles_tour.detalles[0].descripcion}
                          </p>
                          <p class="capitalize mb-0! text-sm">
                            <i class="fa-solid text-parragraph fa-chart-line" /> {c.acf.detalles_tour.detalles[1].descripcion}
                          </p>
                        </div>
                        <div class="flex text-yellow">★★★★★</div>
                      </div>
                      <div class="line-clamp-2" set:html={c.excerpt.rendered} />
                    </div>
                    <hr class="my-5!" />
                    <div class="w-full">
                      <a href={"/tour/" + c.slug} class="w-full inline-block text-center border-2 border-green text-nowrap py-3 px-7 text-green group-hover:bg-green group-hover:text-white rounded-full transition-colors text-base">
                        Ver Tour &nbsp;
                        <i class="fa-solid fa-arrow-right-long" />
                      </a>
                    </div>
                    {/* <div>
                      <a href={"/tour/" + c.slug} class="w-full border-2 border-blue bg-white text-nowrap py-3 px-7 text-black font-medium hover:bg-blue hover:text-white transition-colors rounded-radio text-base flex justify-between items-center">
                        <span>Ver Tour</span> <i class="fa-solid fa-circle-arrow-right size-5" />
                      </a>
                    </div> */}
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-button-prev bg-white/50 hover:bg-white transition-colors rounded-full text-black! p-3 shadow-lg"></div>
      <div class="swiper-button-next bg-white/50 hover:bg-white transition-colors rounded-full text-black! p-3 shadow-lg"></div>
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".mySwiperFulldays", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 4,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 4,
      },
    },
  });
</script>
