---
import { getPosts } from "../libs/wp";

const allPosts = await getPosts();

const posts = allPosts.slice(0, 10);

function getDateFormatter(date: any) {
  const fecha = new Date(date);
  return fecha.toLocaleDateString("en-US", {
    month: "short",
    day: "numeric",
    year: "numeric",
  });
}

const pathname = Astro.url.pathname;
const dondition = pathname === "/en/" || pathname === "/en";
---

<section>
  <div class="w-full bg-gray-50 py-20">
  <div class="container">
    <div class="w-full text-center">
      {
        dondition
        ? <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-book"></i> Blog</h3>
        <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">Latest blogs</h2>
        <p class="text-center mb-0! text-pretty">Dive into more stories, travel tips, and essential guides.</p>

        : <h3 class="text-center text-red text-lg normal-case"><i class="fa-solid fa-book"></i> Blog</h3>
        <h2 class="text-3xl text-center font-semibold tracking-wide mb-3">Últimos blogs</h2>
        <p class="text-center mb-0! text-pretty">Sumérgete en más historias, consejos de viaje y guías esenciales.</p>
      }
    </div>
    <div class="swiper mySwiperBlogs">
      <div class="swiper-wrapper py-1 my-5">
        {
          posts.length > 0 ? (
            posts.map((post: any) => (
              <div class="swiper-slide">
                <div class="bg-white w-full shadow hover:shadow-xl transition-all duration-300 rounded-radio hover:translate-y-[-10px] overflow-hidden group/img">
                  <div class="flex flex-col">
                    <div class="w-full h-[300px]">
                      <a href={`/blog/${post.slug}`} title={dondition ? "Read More" : "Leer más"} class="inline-block overflow-hidden w-full h-full">
                        <img decoding="async" loading="lazy" class="w-full h-full object-cover object-center" src={post.featured_image.full} alt={post.title.rendered} title={post.title.rendered} />
                      </a>
                    </div>
                    <div class="w-full p-5 lg:p-7">
                      <h3 class="line-clamp-1 font-medium text-2xl" set:html={post.title.rendered} />
                      <div class="line-clamp-2 text-start text-pretty text-sm mb-3" set:html={post.excerpt.rendered} />
                      <hr class="my-5!" />
                      <div class="flex items-center justify-between">
                        <div>
                          <p class="flex items-center gap-1 mb-0!">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-month">
                              <>
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12" />
                                <path d="M16 3v4" />
                                <path d="M8 3v4" />
                                <path d="M4 11h16" />
                                <path d="M8 14v4" />
                                <path d="M12 14v4" />
                                <path d="M16 14v4" />
                              </>
                            </svg>
                            <span class="text-sm">{getDateFormatter(post.date)}</span>
                          </p>
                        </div>
                        <div>
                          <a href={`/blog/${post.slug}`} title={dondition ? "Read More": "Leer más"} class="inline-block group bg-green py-3 px-7 text-center capitalize font-medium rounded-full hover:text-black hover:bg-yellow text-white transition-colors">
                            {dondition ? "Read More" : "Leer más" } <i class="fa-solid fa-arrow-right-long text-white group-hover:text-black transition-colors" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          ) : (
            <div>
              <p class="text-start block">No hay nuevos posts en este momento. Regresa al inicio y descubre increíbles tours esperándote.</p>
              <a href="/" title={dondition ? "Read More": "Leer más"} class="group/btn w-max inline-block group bg-green py-3 px-7 text-center capitalize font-medium rounded-full hover:text-black hover:bg-yellow text-white transition-colors">
                <i class="fa-solid fa-arrow-left  text-white group-hover/btn:text-black transition-colors" /> Read More
              </a>
            </div>
          )
        }
      </div>
      <div class="swiper-button-prev bg-green/50 transition-colors rounded-full hover:bg-green text-white! p-3 shadow-lg"></div>
      <div class="swiper-button-next bg-green/50 transition-colors rounded-full hover:bg-green text-white! p-3 shadow-lg"></div>
    </div>
  </div>
</div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  new Swiper(".mySwiperBlogs", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 2,
      },
      1280: {
        slidesPerView: 3,
      },
    },
  });
</script>
