---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getTourInfo, getInfoByTours, getSidebarTour } from "../../libs/wp";
import SliderHiking from "../../components/SliderHiking.astro";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import Gallery from "../../components/Tours/Gallery.astro";
import Detalles from "../../components/Tours/Detalles.astro";

interface Props {
  slug: string;
}

const { slug } = Astro.params;

const sidebar = await getSidebarTour();

export const getStaticPaths: GetStaticPaths = async () => {
  const getTours = await getTourInfo();

  // console.log(getTours.map((t:any)=>t.slug));

  return getTours.map((tour: any) => ({
    params: { slug: tour.slug },
    props: { tour }
  }));
};

if (!slug) {
  throw new Error("Slug no esta definido");
}

const getUrlTourInfo = await getInfoByTours(slug);
const getByurl = getUrlTourInfo

const [contentTour] = getUrlTourInfo;

const titlePage = contentTour.title.rendered;
const wrapper = contentTour.content.rendered;
---

<MainLayout>
  <main>
    <section>
      {getUrlTourInfo.map((tour: any) => <Gallery img={tour.acf.seccion_galleria} />)}
    </section>
    <section>
      <div class="container mt-3">
        <div class="bg-green/10 rounded-[20px] mt-3 p-5 md:p-10">
          <div class="w-full flex flex-col xl:flex-row items-center justify-between gap-0 xl:gap-5">
            <div>
              <nav class="w-full xl:mb-2">
                <ul class="list-none flex flex-wrap xl:flex-nowrap items-center gap-x-3">
                  <li>
                    <a href="/" class="text-sm capitalize text-green font-medium hover:underline">
                      <i class="fa-solid fa-house"></i> Explore Tours Peru
                    </a>
                  </li>
                  >
                  <li>
                    <a href="" class="text-sm capitalize text-green font-medium hover:underline">Inca Trail</a>
                  </li>
                  >
                  <li>
                    <span class="text-sm capitalize text-black">Camino Inca a Machu Picchu 4 Days</span>
                  </li>
                </ul>
              </nav>
              <h1 class="text-3xl text-start font-semibold my-5 xl:my-0 inline-block">{titlePage}</h1>
            </div>
            <div>
              <div class="grid grid-cols-3 md:grid-cols-3 gap-5 md:gap-10 items-center md:justify-items-center details-tour">
                {getByurl.map((datails: any) => <Detalles details={datails.acf.detalles_tour} />)}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container my-10">
        <div class="w-full flex flex-col lg:flex-row items-start gap-10">
          <div class="w-full">
            <div class="wrapper-content-astro">
              <p class="mb-0!" set:html={wrapper} />
            </div>
          </div>

          <!-- sidebar tours -->
          <div class="sticky top-0 w-full lg:w-[500px] h-full sidebar-tour-page">
            <div class="w-full h-full shadow-[0px_0px_30px_0px_rgba(0,0,0,0.1)] p-5 rounded-[20px]">
              <p set:html={sidebar.content} />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <section>
    <div class="container">
      <h2 class="text-2xl font-semibold text-center capitalize">Tours Relacionados</h2>
      <SliderHiking />
    </div>
  </section>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // TABS START
    
    document.querySelectorAll(".responsive-tabs").forEach((tabsContainer) => {
      const titles = tabsContainer.querySelectorAll(".tabtitle");
      const contents = tabsContainer.querySelectorAll(".tabcontent");

      const nav = document.createElement("div");
      nav.classList.add("tabs-nav");

      titles.forEach((title, index) => {
        const btn = document.createElement("button");
        btn.textContent = title.textContent;

        if (index === 0) {
          btn.classList.add("active");
          contents[index].classList.add("active");
        }

        btn.addEventListener("click", () => {
          nav.querySelectorAll("button").forEach((b) => b.classList.remove("active"));
          contents.forEach((c) => c.classList.remove("active"));

          btn.classList.add("active");
          contents[index].classList.add("active");
        });

        nav.appendChild(btn);
      });

      tabsContainer.prepend(nav);

      titles.forEach((title, index) => {
        title.addEventListener("click", () => {
          if (window.innerWidth <= 768) {
            contents[index].classList.toggle("active");
          }
        });
      });
    });

    // TABS END

    // ACCORDION START

    var acc = document.getElementsByClassName("advgb-accordion-header");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }

    // ACCORDION END
  });
</script>
